<p>tabla works!</p>


<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  
 

  <mat-tab-group>
    <div class="guardar">
      <button type="button" (click)="Guardar()">guardar</button>
    </div>

    <div class="Limpiar">
      <button type="button" (click)="Limpiar()">Limpiar</button>
    </div>

    <div class="GuardarFrom2">
      <button type="button" (click)="GuardarFrom2()">Limpiar</button>
    </div>

  </mat-tab-group>
  