table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }
  .guardas{
    background-color: rgb(147, 100, 190);
  }
  .liampiar{
    background-color: rgb(138, 94, 94);
  }
  .example-card {
    max-width: 400px;
  }
  